@import "../../../global.scss";

.list-item-container {
  border-bottom: solid 2px $borderDark;

  .list-item {
    color: $textColor;
    display: flex;
    padding-left: 30px;
    align-items: center;
    min-height: 55.6px;
    justify-content: space-between;

    @include mobile {
      padding-left: 5px;
    }

    .left {
      display: flex;
      align-items: center;
      justify-content: center;

      .icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 30px;
        height: 30px;
        min-width: 30px;

        @include mobile {
          width: 25px;
          height: 25px;
          min-width: 25px;
          padding: 0px 2px;
        }

        .true-completed {
          font-size: 20px;
          color: $completedGreen;
          transition: all 0.12s linear;

          @include notOnMobile {
            &:hover {
              opacity: 0.83;
            }
          }
        }

        .false-completed {
          font-size: 16px;
          padding: 2px;
          color: $borderGray;
          transition: all 0.12s linear;
          opacity: 0.5;

          @include notOnMobile {
            &:hover {
              color: $completedGreen;
            }
          }
        }

        .true-urgent {
          font-size: 16px;
          padding: 2px;
          background-color: $urgentRed;
          border-radius: 50%;
        }

        .false-urgent {
          font-size: 16px;
          padding: 2px;
          color: $borderGray;
          background-color: transparent;
          transition: all 0.12s linear;

          @include notOnMobile {
            &:hover {
              color: $urgentRed;
            }
          }
        }
      }
      .task {
        cursor: pointer;
        line-height: 15px;
        padding-left: 10px;

        &:hover {
          .create-icon {
            opacity: 1;
            color: $accentColor;
          }
        }

        .create-icon {
          opacity: 0;
          margin-left: 10px;
          font-size: 12px;
          transition: all 0.12s linear;

          @include mobile {
            display: none;
          }
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      justify-content: center;

      .date {
        padding: 0px 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
          padding: 0px 4px 0px 8px;
        }

        &:hover {
          .create-icon {
            opacity: 1;
            color: $accentColor;
          }
        }

        .create-icon {
          opacity: 0;
          margin-right: 10px;
          font-size: 12px;
          transition: all 0.12s linear;

          @include mobile {
            display: none;
          }
        }
      }

      .icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;

        @include mobile {
          width: 25px;
          height: 25px;
          min-width: 25px;
        }

        .closeIcon {
          background-color: transparent;
          color: $urgentRed;
          font-size: 16px;
          opacity: 0.5;
          cursor: pointer;
          border-radius: 50px;
          transition: all 0.2s linear;

          &:hover {
            opacity: 1;
            font-size: 20px;
            color: white;
            background-color: $urgentRed;
          }
        }
      }
    }
  }
  .edit-container {
    position: relative;
  }
}
